body{
  font-family: Baskerville, ‘Times New Roman’, Times, serif;
  font-size: 16px;
  background-color: tan;
}
h1, h2
{
  font-family: Georgia, Times, ‘Times New Roman’, serif;
}
header
{
  border-bottom: 2px solid black;
}
.class-list{
  list-style: square;
}
.item{
  border : 1px solid black;
}
.even{
  background-color: grey;
}
.odd{
  color: white;
  background-color: black;
}
#item1{
  font-size: 30px;
}
#item2{
  text-align: right;
}
#advanced-selectors ol>li{
  padding: 1px;
  background-color: grey;
}
#advanced-selectors ol li:nth-child(odd){
  background-color: green;
}
a[title="Bitmaker"]:hover{
  text-decoration: none;
}
#advanced-selectors ol li ul a:hover{
  background-color: yellow
}
#advanced-selectors ol li ul a:active{
  background-color: red
}
